.bars {
  cursor: pointer;
  width: 35px;
}
.bars > span {
  background-color: currentColor;
  display: block;
  height: 2px;
  width: 35px;
}
.bars > span:not(:last-child) {
  margin-bottom: 8px;
}
.bars,
.bars > span {
  transition: all 0.3s ease;
}
.bars.active > span {
  opacity: 0.5;
}
